<a href="<%= path %>" class="text-base font-normal hover:font-medium hover:bg-slate-200 px-5 py-2">
  <div class="hidden md:block flex justify-start">
    <%= text %>
  </div>
  <div class="md:hidden flex justify-center">
    <i class="fa-solid <%= icon %>"></i>
  </div>
</a>