<div data-menu-target="dropdown" class="hidden origin-top-right absolute bg-white right-0 mt-2 w-48 border rounded-md flex flex-col space-y-2 shadow-md">
  <%= render "users/nav_link", text: "Update Profile", path: edit_user_profile_path, data: { turbo_frame: "modal" } %>
  <%= render "users/nav_link", text: "Update Password", path: manage_password_path %>
</div>